{% extends 'base.html' %}

{% block 'content' %}

    {% if validlink %}
        <p>Por favor entre y confirme su nueva clave.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva clave:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme la clave:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Falla al recuperar la clave</h1>
        <p>El link de recuperación de la clave es inválido, posiblemente porque ya ha sido usado con anterioridad. Por favor, solicite una nueva recuperación de clave.</p>
    {% endif %}

{% endblock %}