{% load static %}

<div id="carouselExampleFade" class="carousel slide carousel-fade container" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'flan1.jpg' %}" class="d-block img-fluid w-100" style="height: 25rem" alt="Flan1">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-3">Garantizamos la calidad de nuestros productos</h3>
        <h4 class="sub">Usamos las mejores materias primas</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'flan2.jpg' %}" class="d-block img-fluid w-100" style="height: 25rem" alt="Flan2">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-3">Garantizamos la calidad de nuestros productos</h3>
        <h4 class="sub">Usamos las mejores materias primas</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'flan3.jpg' %}" class="d-block img-fluid w-100" style="height: 25rem" alt="Flan3">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="display-3">Garantizamos la calidad de nuestros productos</h3>
        <h4 class="sub">Usamos las mejores materias primas</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<!--
<div class="container" style="background: #DEB685;">
    <div class="col-4 offset-4">
        <img src="{% static 'logo_onlyflans-white.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4" style="width: 100">
    </div>
</div>-->