<div class="container-fluid" style="background: #7478D1;">
   <div class="iconos text-center">
      <a href="https://instagram.com/onlyflans_official/" target="_blank"><i class="fab fa-instagram fa-4x p-3" style="color: #FAF2E7;"></i></a>
      <a href="https://facebook.com/OnlyFlans" target="_blank"><i class="fab fa-facebook-square fa-4x p-3" style="color: #FAF2E7;"></i></a>
      <a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok fa-4x p-3" style="color: #FAF2E7;"></i></a>
      <a href="https://twitter.com/oniyflans" target="_blank"><i class="fab fa-twitter-square fa-4x p-3" style="color: #FAF2E7;"></i></a>
   </div>
   <p class="h6 col text-center pb-2"  style="color: #FAF2E7"><small>© Paula González Silva y Cesar Marín Marín para Desafío Latam -2022</small></p>
   <p class="text-center pb-2"><small><a href="http://127.0.0.1:8000/admin/" style="color: #C6C9EC;">Administrador</a></small></p>
</div>
