
{% load static %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!--IMÁGENES-->
      <div class="carousel-item active">
        <img src="{% static 'flan1.png' %}" class="d-block img-fluid w-100" style="height: 20rem" alt="Flan1">
        <div class="carousel-caption d-none d-md-block">
          <img src="{% static 'logo_onlyflans_header.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4 head-logo" style="height: 8rem;">
          <h3 class="display-5">Garantizamos la calidad de nuestros productos</h3>
          <h4 class="sub">Usamos las mejores materias primas</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'flan2.png' %}" class="d-block img-fluid w-100" style="height: 20rem" alt="Flan2">
        <div class="carousel-caption d-none d-md-block">
          <img src="{% static 'logo_onlyflans_header.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4 head-logo" style="height: 8rem;">
          <h3 class="display-5">Garantizamos la calidad de nuestros productos</h3>
          <h4 class="sub">Usamos las mejores materias primas</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'flan5.png' %}" class="d-block img-fluid w-100" style="height: 20rem" alt="Flan3">
        <div class="carousel-caption d-none d-md-block">
          <img src="{% static 'logo_onlyflans_header.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4 head-logo" style="height: 8rem;">
          <h3 class="display-5">Garantizamos la calidad de nuestros productos</h3>
          <h4 class="sub">Usamos las mejores materias primas</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'flan4.png' %}" class="d-block img-fluid w-100" style="height: 20rem" alt="Flan3">
        <div class="carousel-caption d-none d-md-block">
          <img src="{% static 'logo_onlyflans_header.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4 head-logo" style="height: 8rem;">
          <h3 class="display-5">Garantizamos la calidad de nuestros productos</h3>
          <h4 class="sub">Usamos las mejores materias primas</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'flan3.png' %}" class="d-block img-fluid w-100" style="height: 20rem" alt="Flan3">
        <div class="carousel-caption d-none d-md-block">
          <img src="{% static 'logo_onlyflans_header.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4 head-logo" style="height: 8rem;">
          <h3 class="display-5">Garantizamos la calidad de nuestros productos</h3>
          <h4 class="sub">Usamos las mejores materias primas</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'flan6.png' %}" class="d-block img-fluid w-100" style="height: 20rem" alt="Flan3">
        <div class="carousel-caption d-none d-md-block">
          <img src="{% static 'logo_onlyflans_header.png' %}" alt="onlyflans" class="img-fluid mt-4 mb-4 head-logo" style="height: 8rem;">
          <h3 class="display-5">Garantizamos la calidad de nuestros productos</h3>
          <h4 class="sub">Usamos las mejores materias primas</h4>
        </div>
      </div>
      
    </div>

     <!--BOTONES-->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
